.header{
    background-color: #080050;
    color: white;
    height: 48px;
}

.fit-edite-logo-pen{
   right:-10px;
   
}
.fit-edite-logo{
   
     top:2px;
 }

 .center-pic{
    top:2px;
    right:17px;
 }