.main{
    height: 110vh;
    background: url('../../../public/images/abstract-colorful-wallpaper.png') center bottom  no-repeat;
}

.panel-box1{
    border: 1px solid transparent;
    border-radius: 2px;
    height: 65vh;
}

.logo-box{
    border-right: 1px solid white;
}


.first-div{
    height: 70vh;
   
}

.second-div{
    height: 35.5vh;
}

.panel4-box{
    border-right: 1px solid white;
}

#myProgress {
    background-color: grey;
    text-align: right;
}
  
#myBar {
    width: 76%;
    height: 2px;
    background: linear-gradient(to right, #00EDFF , #0357FF);;
}