.main-b-color{
    background-color: rgb(8, 0, 77,0.90);
    opacity: 95%;
}

.white{
    color: white;
}

.main-c-color{
    color: #BBC3FF;
}

.main-b-color2{
    background-color: #BBC3FF;
}

.main-c-color2{
    color: #00DCFF;
}

.text-size-s{
    font-size: small;
}

.main-c-color3{
    color: #BBC3FF;
}

.b-white{
    background-color: white;
}